form fieldset{
  background-image:url("accueil.jpeg");
}
body, ul {
  margin: 0;
  padding: 0;
}
p{
  font-weight:bold;
}
/* Styles pour la barre de navigation */
.navbar {
  background-color:black;
  width: 100%;
}
.list{
  position:fixed:
  top:0;
  overflow:hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.list li {
  list-style: none;
  padding: 10 5px;
  margin-top:10px;
}

.list li a {
    display:block;
  color: #fff;
  text-decoration: none;
  font-size:10px;
  text-transform:uppercase;
  font-weight:bold;
}
.list li a:hover{
  background-color:orange;
}
.list li a:active{
  background-color:yellow;
}
.navbar a{
      display:block;
}
body{
  background-image:url("./background.jpeg");
  color:white;
}
footer a{
  color:white;
  margin-right:40px;
}
i{
  font-size:40px;
}

